:root {
  --background-default: #000;
  --lines: rgba(255, 255, 255, 0.103);
}

body {
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--lines);
}

#container {
  background-color: var(--background-default);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#container div {
  width: calc(100%/3);
  height: calc(100%/3);
  box-sizing: border-box;
}

h1 {
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
}

#container div:nth-child(1) {
  border: 1px dashed var(--lines);
}

#container div:nth-child(2) {
  border: 1px dashed var(--lines);
}

#container div:nth-child(3) {
  border: 1px dashed var(--lines);
}

#container div:nth-child(4) {
  border: 1px dashed var(--lines);
}

#container div:nth-child(5) {
  border: 1px dashed var(--lines);
}

#container div:nth-child(6) {
  border: 1px dashed var(--lines);
}

#container div:nth-child(7) {
  border: 1px dashed var(--lines);
}

#container div:nth-child(8) {
  border: 1px dashed var(--lines);
}

#container div:nth-child(9) {
  border: 1px dashed var(--lines);
}

#clock {
  border: 0px !important;
  width: 90% !important;
  height: 90% !important;;
  margin: 5%;
  text-align: center;
  font-size: 5em;
  background-color: #9ec461 !important;
  color: #000000da;
}

#container div:nth-child(1):hover ~ *:has(#clock) #clock {
  -webkit-transform: perspective(600) rotateY(-25deg) rotateX(25deg);
}

#container div:nth-child(2):hover ~ *:has(#clock) #clock {
  -webkit-transform: perspective(600) rotateX(25deg);
}

#container div:nth-child(3):hover ~ *:has(#clock) #clock {
  -webkit-transform: perspective(600) rotateY(25deg) rotateX(25deg);
}

#container div:nth-child(4):hover ~ *:has(#clock) #clock {
  -webkit-transform: perspective(600) rotateY(-25deg);
}

#container div:nth-child(6):hover ~ *:has(#clock) #clock {
  -webkit-transform: perspective(600) rotateY(25deg);
  background-color: #9ec461 !important;
}

#container div:nth-child(7):hover ~ *:has(#clock) #clock {
  -webkit-transform: perspective(600) rotateX(25deg);
}

#container div:nth-child(8):hover ~ *:has(#clock) #clock {
  -webkit-transform: perspective(600) rotateY(-25deg) rotateX(25deg);
}

#container div:nth-child(9):hover ~ *:has(#clock) #clock {
  -webkit-transform: perspective(600) rotateX(25deg);
}